* {
  box-sizing: border-box;
}
#subscribe-btn {
  color: red;
}
h1, h2, h3 {
  color: brown;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
body > article{
  border: 1px solid red;
}
h2 +p{
  background-color:rgb(10, 96, 67)
}
h2+p~p{
  color:brown
}
body {
  background-color: black;
  font-family: "Courier New", Courier, monospace;
  line-height: 1.15;
  border: 5px rebeccapurple;
  text-align: center;
  color: aliceblue;
}
p {
  color: aliceblue;
}

.nan-link-item {
  display: inline-block;
  width: 100px;
  height: 50px;
  border: 1px solid rgb(187, 2, 33);
  padding: 10px;
  margin: 0 10px;
  text-align: center;
  text-decoration: none;
}
.article-long-bio {
  display: inline-block;
  width: 500px;
  vertical-align: middle;
}
.article-bio {
  display: inline-block;
  width: 400px;
  vertical-align: top;
}
